<div class="loader">
    <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
    </div>
</div>
<div class="skin-blue sidebar-mini">
    <div class="wrapper">
        <sidebar></sidebar>
        <div class="content-wrapper" style="min-height: 916px;">
            <section class="content-header">
                <breadcrumb></breadcrumb>
                <!--<ol class="breadcrumb">-->
                    <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
                    <!--<li class="active">Dashboard</li>-->
                <!--</ol>-->
            </section>
            <section class="content">
                <router-outlet></router-outlet>
            </section>
        </div>
    </div>
</div>